@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .primary-color-text {
        color: var(--textTitle);
    }

    .primary-color-bg {
        background-color: var(--hoverBg);
    }

    .secondary-color-text {
        color: var(--textNormal);
    }

    .tertiary-color-text {
        color: var(--textNormal);
    }

    .tertiary-color-bg {
        background-color: var(--textNormal);
    }

    .icon-color-text {
        color: var(--icon);
    }

    .paragraph-color-text {
        color: var(--textNormal);
    }

    .paragraph-color-bg {
        background-color: var(--bg);
    }

    .card-color-bg {
        background-color: var(--cardBg);
    }

    .cool-button-text-color {
        color: var(--textNormal);
    }

    /* ^^ CHANGE COLORS ABOVE ^^ */

    /* Styles */
    .primary-text {
        @apply primary-color-text;
        @apply font-bold;
        @apply text-left;
    }

    .secondary-text {
        @apply secondary-color-text;
        @apply text-left;
    }

    .paragraph-text {
        @apply paragraph-color-text;
        @apply text-xl;
        @apply text-left;
    }

    /* Cards */
    .dynamic-card {
        @apply rounded-xl;
        @apply card-color-bg;
        @apply bg-opacity-50;
        @apply border-2;
        @apply border-slate-500;
        @apply shadow-md;
        @apply shadow-slate-500;
    }

    .dynamic-card:hover {
        @apply transition;
        @apply ease-in-out;
        @apply scale-105;
        @apply shadow-lg;
        @apply shadow-slate-700;
    }

    /* Icons */
    .dynamic-hover {
        @apply rounded-lg;
    }

    .dynamic-hover:hover {
        @apply transition;
        @apply ease-in-out;
        @apply scale-105;
        @apply paragraph-color-bg;
        @apply bg-opacity-10;
    }
}

@layer base {
    html {
      font-family: Helvetica;
    }

    /* CHANGE COLORS BELOW */
    body {
        --bg: #fafafa;
        --hoverBg: #e2e8f0; /* slate-200 */
        --textNormal: #0f172a; /* slate-900 */
        --textTitle: #334155; /* slate-700 */
        --textLink: #0284c7; /* sky-600 */
        --hr: hsla(0, 0%, 0%, 0.2);
        --cardBg: #f1f5f9; /* slate-100 */
        --icon: #64748b; /* slate-500 */

        background-color: var(--bg);
    }
      
    body.dark {
        -webkit-font-smoothing: antialiased;
      
        --bg: #23272f; /* slate-900 */
        --hoverBg: #334155; /* sky-900 */
        --textNormal: #cbd5e1;
        --textTitle:#f8fafc;
        --textLink: #0ea5e9; /* sky-500 */
        --hr: hsla(0, 0%, 100%, 0.2);
        --cardBg: #334155; /* slate-700 */
        --icon: #cbd5e1; /*slate-300 */
    }
    /* CHANGE COLORS ABOVE */

    h1 {
        @apply text-3xl;
        @apply md:text-4xl;
        @apply font-bold;
        @apply text-center;
        @apply primary-color-text;
    }

    h2 {
        @apply text-2xl;
        @apply md:text-3xl;
        @apply text-center;
        @apply primary-color-text;
    }

    h3 {
        @apply text-xl;
        @apply md:text-2xl;
        @apply primary-color-text;
        @apply first:pt-0;
        @apply pt-10;
    }

    h4 {
        @apply text-lg;
        @apply md:text-xl;
        @apply primary-color-text;
        @apply first:pt-0;
        @apply pt-10;
    }

    h5 {
        @apply md:text-xl;
        @apply primary-color-text;
        @apply first:pt-0;
        @apply pt-10;
    }

    p {
        @apply first:pt-4;
        @apply last:pb-40;
        @apply pt-5;
        @apply md:text-xl;
        @apply paragraph-color-text;
        @apply leading-8;
    }

    em {
        @apply tertiary-color-text;
    }

    a {
        @apply secondary-color-text;
        @apply font-bold;
    }
    a:hover {
        @apply primary-color-text;
        @apply underline;
        @apply font-bold;
    }

    #no-link {
        @apply no-underline;
    }

    li {
        list-style-type: square;
        list-style-position: inside;
        @apply text-left;
    }

    ul {
        @apply pt-4;
        @apply pl-4;
        @apply md:text-xl;
    }

    code {
        @apply tertiary-color-bg;
        @apply bg-opacity-20;
        @apply rounded-lg;
    }

    pre {
        @apply mt-[3%];
        @apply p-[2%];
        @apply tertiary-color-bg;
        @apply bg-opacity-20;
        @apply rounded-lg;
        @apply overflow-auto;
    }

    img {
        @apply w-[70%];
        @apply m-[2%];
        @apply mx-[15%];
    }
}